<section class="mt-5">
    <div class="container">    
        <div class="row justify-content-center">
                <%-include('../panel') %>  
            <div class="col-md-6">               
                <div class="row justify-content-center">
                    <div id="classDates">
                        <div class="row">
                            <% if(course.end_date){ %>         
                                <h5><%=course.start_date%> - <%=course.end_date%> <%=course.name%> <%=course.type%> Class </h5><button class="btn btn-white btn-sm mx-4" id="editBtn">Edit Dates</button>
                            <% } else { %>
                                <h5><%=course.start_date%> <%=course.name%> <%=course.type%> Class</h5><button class="btn btn-white btn-sm mx-4" id="editBtn">Edit Dates</button>
                            <% } %>
                        </div>                      
                    </div>
                    
                    <div id="divEditForm" style="display: none;"> 
                        <div class="row">
                            <form id="editClassDates">
                                <% if(course.end_date) { %>
                                    <input type="text" name="dates" id="course_dates" value="<%=course.start_date%> - <%=course.end_date%>">
                                <% } else { %>
                                    <input type="text" name="dates" id="course_dates" value="<%=course.start_date%>">
                                <% } %>
                                <input type="hidden" name="course_id" id="course_id" value="<%=course.course_id%>">
                                <button class="btn btn-primary btn-sm mx-4" id="editClassDatesBtn" type="submit">Edit</button>    
                            </form>  
                        </div>                                        
                    </div>
                </div> 
              
                <div class="row justify-content-center my-4">
                    <p><a href="/admin/student_register/<%=course.course_id%>" >Add student</a></p>
                </div>

                <div class="row">
                    <% if(students.length > 0){ %> 
                    <div>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Full names</th>                    
                                    <th scope="col">Tel</th>
                                    <th scope="col">Email</th>
                                    <th>Amount paid</th>
                                    <th scope="col">Actions</th>
                                    <!-- <th scope="col">Contact</th> -->
                                </tr>
                            </thead>
                            <tbody class="justify-content-between" >
                                <% students.forEach(student => { %>                                   
                                <tr >
                                    <th scope="row">  </th>
                                    <td><%=student.name %></td>                    
                                    <td><%=student.tel %></td>
                                    <td><%=student.email %></td>                            
                                    <td><%=student.amount %></td>
                                    <td>
                                        <a href="/admin/update/<%=course.course_id %>/<%= student.student_id %> %>" class="btn btn-light btn-sm" role="button"> Update </a>   
                                        <a data_student_id="<%=student.student_id%>", data_course_id = '<%= course.course_id %>' class="btn btn-light btn-sm transfer" role="button"> Transfer </a>                                    
                                        <a href="/students/unenroll/<%= student.student_id %>/<%= course.course_id %>" class="btn btn-light btn-sm" role="button"> Unenroll </a>                                                                                                     
                                    </td>                         
                                </tr>
                                <% }) %>                         
                            </tbody>
                        </table>
                    <hr>
                    <tr class="float-right"><strong> Total class payment: <%=total%></strong></tr> 
                    </div>
                    <% } else { %> 
                    <div>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Full names</th>                    
                                    <th scope="col">Tel</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Amount Paid</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody >
                                <div class="d-flex justify-content-end mt-5">
                                    <h4 class="text-danger lead" ><strong> No students signed up for this course. </strong>  </h4>
                                </div>
                            </tbody>
                        </table>
                    </div>
                    <% } %> 
                </div>                  
            </div>          
        </div>        
    </div>
</section>

<script>   

$(document).ready(()=>{  
    //button that displays the form with current dates
    $('#editBtn').on('click', (e) => {

        e.preventDefault()

        //show the edit form
        $('#divEditForm').show()
        //hide the edit button and div
        $('#editBtn').hide()
        $('#classDates').hide()
    })

    //form that 
    $("#editClassDatesBtn").on('click', e => {

        e.preventDefault()
        //get the dates from form
        const dates = document.getElementById('course_dates').value.trim()
        //get the course id
        const course_id = document.getElementById('course_id').value
        //create data object to send to server
        const data = { course_id, dates }
        debugger
     
        $.ajax({
            type: 'PATCH', 
            url: '/courses/update',
            credentials: 'same-origin', // <-- includes cookies in the request
            headers: {
                'CSRF-Token': Cookies.get("XSRF-TOKEN")
            },
            dataType: "json",
            data: data,
        }).done(function (response) {
            if (response.redirect !== undefined && response.redirect) {
                debugger
                window.location.replace(response.redirect_url)

                
            }      
            //if something is wrong - alert user and redirect user to course schedule page
            if (response.redirect !== undefined && !response.redirect) {
                
                alert('Something went wrong - start the registration process again!')

                setInterval('location.reload()', 1000)
            }   
            //clear the local storage
            localStorage.clear() 
        })



    })
    $('.transfer').on('click', e => {

        e.preventDefault()
        //get the student id and course id of the student
        const student_id = e.currentTarget.attributes[0].nodeValue,
              course_id = e.currentTarget.attributes[2].nodeValue    

         //get the course object
        const courseObj = (<%-JSON.stringify(course)%>)
        //get the course name
        const course_name = courseObj.name
        debugger
        //set the items in local storage
        localStorage.setItem('course_id', course_id )
        localStorage.setItem('student_id', student_id )
        localStorage.setItem('course', course_name)

        window.location.replace( '/admin/course-schedules/transfer'  ) 
    })

    $('#contactBtn').on('click', () => {
         //show the modal
        jQuery.noConflict()
        $(".contactStudent").modal('show')
    })

})

</script>
