<section class="bg-light m-4 p-4" >
    <div class="container-fluid">        
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8">
                <div class="card">
                    <div class="card-header bg-dark">
                        <h3 class="text-light"><%=jobPost.title %></h3>
                    </div>
                    <div class="card-body">                    
                        <h4 class="card-title "><strong>Employer: <%=jobPost.facility_name %></strong></h4>                        
                        <h5>Job Description</h5>
                        <p class="card-text"><%=jobPost.description %></p> 
                        <h5>Job Requirements</h5>    
                        <p class="card-text"><%=jobPost.requirements %></p>
                       
                        <h5>Compensation </h5>                            
                        <p class="card-text"> <%= jobPost.compensation %> </p> 
                        <% if ( jobPost.reimbursement == 'Yes' ) { %>
                            <p class="card-text font-weight-bold">Tuition reimbursement is available upon hiring.  Apply to get more for more information.</p>
                        <% } %>
                        <% if ( jobPost.clinical == 'Yes' ) { %>
                            <p class="card-text font-weight-bold"><%=jobPost.facility_name %> has staff RN/LPN to assist you meet NAC clinical rotation requirements in place during COVID19 pandemic.  Apply to get more for more information.</p>
                        <% } %>
                        <% if ( jobPost.inhouse_training == 'Yes' ) { %>
                            <p class="card-text font-weight-bold">Upon hiring and during your employment with us, we offer in house training.</p>
                        <% } %>
                        <h5>Schedule </h5>
                        <p class="card-text"><%= jobPost.schedule %></p>                            
                        <!-- <p class="card-text">  </p>  -->
                        <div class="card">
                            <div class="card-body">
                                <h5><strong>Location:</strong> <%= jobPost.address %> </h5>
                                <h5 class="text-danger"><strong>Contact:</strong> <%= jobPost.tel %></h5>                              
                            </div>
                        </div>  
                        <div class="m-3">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
                                Apply for this job
                            </button>
                        </div>                                      
                    </div>                    
                </div>                    
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Fill out this form to apply for the job</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-signup" id="apply-job-form">                                       
                                <div class="form-label-group">
                                    <label for="inputName"><strong> Preferred name:</strong></label>
                                    <input type="text" class="form-control" name='name' placeholder="Enter your preferred name" autofocus required>
                                    
                                </div>  
        
                                <div class="form-label-group">
                                    <label for="inputEmail"><strong>Email:</strong></label>
                                    <input type="email" class="form-control" placeholder="Enter your email" name="email" autofocus required>
                                    
                                </div>
        
                                <div class="form-label-group">
                                    <label for="inputTel"><strong>Phone:</strong></label>
                                    <input type="tel" class="form-control" placeholder="Enter phone #" name="tel" id="tel" required>                                        
                                </div>   
        
                                <div class="form-group">
                                    <label for="comments"><strong>Certifications/Licenses:</strong></label>                                        
                                    <textarea class="form-control" name="certifications" id="certifications" cols="10" rows="2" placeholder="Enter any certifications/licenses you possess." ></textarea>
                                </div>  
                                <input type="hidden" name="id" value="<%=id%>">      
                            </form>
                        </div>
                        <div class="modal-footer">                           
                            <button type="button" class="btn btn-primary" id="apply-job-btn">Submit Application</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section>    

<script>

    $(document).ready(() =>{
      //  console.log('it is loaded.....')
        //when the form is submitted
        $("#apply-job-btn").on('click', e => {
            //prevent default behavior
            e.preventDefault()
            console.log('...and also here....')
            //get the form details // get all input in the form
            const $otherInputs = $('#apply-job-form :input')

            const job = {}

            $otherInputs.each( function() {
                
                job[this.name] = this.value
                               
            }) 
            console.log(job)
            debugger
            //send to the server
            $.ajax({
                    type: 'POST', 
                    url: '/job/apply',
                    credentials: 'same-origin', // <-- includes cookies in the request
                    headers: {     
                            Accept: "application/json",
                        // "Content-Type": "application/json",         
                        //'CSRF-Token': token // Cookies.get("XSRF-TOKEN") // <-- is the csrf token as a header
                    },
                    dataType: "json",
                    data: job
                }).done(function (response) {
                    console.log('RESPONSE - > ', response)
                    debugger
                    if (response.redirect !== undefined && response.redirect && response.success) {                          
                        
                        alert(response.message)
                        //go to receipt page
                        window.location.replace(response.url)
                        
                    }      
                    //if something is wrong - alert user and redirect user to course schedule page
                    if (response.redirect === undefined && !response.redirect && !response.success) {
                        debugger
                        alert(response.message)

                        //localStorage.clear()

                        window.location.replace(response.url)
                    }                       
                })         
            

        })
    })

</script>

<style scoped>
.card-text {
    white-space: pre-wrap;
}
</style>