<div class="container-fluid p-5">           
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-4">    
            <div class="alert alert-secondary" role="alert">
                Recommend to the applicant/student to apply to 4 - 8 jobs.            
            </div>    
            <% jobs.forEach( job => { %>   
            <div class="card" id = "<%= job.id %>" >           
                <div class="card-body">
                    <h5 class="card-title"> <%= job.facility_name %> </h5>
                    <div class="row justify-content-between px-3">
                        <p class="card-text "><%= job.address %></p>                       
                    </div>     
                   <p><strong> Settings: </strong> <%job.settings.forEach(setting => { %>                          
                        <span><%=setting%></span>                    
                    <% }) %></p>  
                    <a class="btn btn-primary text-white apply"                          
                            data_job_id = "<%= job.id %>"                        
                            type="button"> <strong> Contact </strong>
                    </a>
                </div>              
            </div><br>
            <% }) %> 
            
            <a class="btn btn-dark btn-lg btn-block text-white registration"           
                type="button"> <strong>COMPLETE COURSE REGISTRATION</strong>
            </a>
        </div> 
    </div>
</div>
<script type="application/javascript">
    $(document).ready(()=>{

        //get items in the local storage       
        const student_id = localStorage.getItem('student_id')  
        const jobs = localStorage.getItem('jobs') != null ? JSON.parse(localStorage.getItem('jobs')) : []

        const student_data = { student_id, jobs }
    
        $('.apply').on('click', (e) => {

            //prevent default behavior
            e.preventDefault()

            //get the job id 
            //properties of a job         
            const job_id = e.currentTarget.attributes[1].nodeValue

            //push above job into data jobs array
            jobs.push({ job_id })
            
            localStorage.setItem('jobs', JSON.stringify(jobs))

            //hide the job
            $("#"+job_id).hide()
        })
        debugger
        
        $('.registration').on('click', e => {
            //prevent default behavior
            e.preventDefault()
            
            if( jobs.length > 0 ) {
                //send data to server
                $.ajax({
                    type: 'PATCH', 
                    url: '/admin/start-job-search',
                    credentials: 'same-origin', // <-- includes cookies in the request
                    // headers: {
                    //     'CSRF-Token':  Cookies.get("XSRF-TOKEN")
                    // },
                    dataType: "json",
                    data: student_data 
                }).done(function (response) {
                
                    if (response.redirect !== undefined && response.redirect) {
                        
                        const course_id = localStorage.getItem( 'course_id' )
                        const code = localStorage.getItem( 'code')

                        alert(response.message)
                        
                        localStorage.clear()
                            
                        window.location.replace(`/courses/${code}/${course_id}`)
                    
                    }      
                    
                    if (response.redirect === undefined || !response.redirect) {
                        
                        alert(response.message)
                        // window.location.href = response.redirect_url
                        localStorage.setItem('jobs', null)

                        window.location.replace('/admin/start-job-search')
                    } 
                    
                    //clear
                })
            } else {
                debugger
                window.location.replace(`/courses/${code}/${course_id}`)
            }
        })       
    })
//create a get route to send the user to admin
</script> 



 
