<script type="application/ld+json"> 
{
 "@context": "https://schema.org",
 "@type": "ItemList",
 "name":"Caregiver & CNA Courses",
 "itemListElement":  [
    {
        "@type": "ListItem",
        "position": 1,
        "item": {
            "url": "www.excelcna.com/learn/cna",
            "name": "Certified Nurse Assistant/CNA Training",
            "@id": "www.excelcna.com/learn/cna",
            "type": "Course",
            "description": "The CNA training introduces the learner to the role of the nurse assistant in the longterm care, foundations of resident care, understanding residents, body systems and related conditions, confusion, Dementia, and Alzheimer's Disease, personal care skill, basic nursing skills, nutrition and hydration and rehabilitation and restoration care.  In addition to clinical rotations, there are theory and skill lab sessions.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 2,
        "item": {
            "url": "www.excelcna.com/learn/hca",
            "name": "DSHS Home Care Aide/75 Hours Training",
            "@id": "www.excelcna.com/learn/hca",
            "type": "Course",
            "description": "The DSHS Home Care Aide (HCA) Training is also known as the 75 hours training.  Our HCA training is comprimised of 54 hours of DSHS Core Basic Training, 8 hours of DSHS Mental Health specialty training, 8 hours of DSHS Dementia Specialty Training, and 5 hours of Safety and Orientation.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 3,
        "item": {
            "url": "www.excelcna.com/learn/bridging",
            "name": "HCA to CNA Bridging",
            "@id": "www.excelcna.com/learn/bridging",
            "type": "Course",
            "description": "The home care aide to certified nurse assistant (HCA - CNA) bridging course is for students with a valid Washington HCA license.  Although the listed course length is 24 hours, voluntary skill lab sessions are strongly encouraged.  The objective of the course is to prepare the student to pass the Washington Nurse Assistant Certification (NAC) exam.  The focus on the skill component is on measure/count and record skills, which include manual blood pressure, respiration, pulse, weight and urinary output.  As a licensed HCA, the student is expected to be competent with personal care skills, infection control and activities of daily living (ADLs).   Student complete 8 hours of online component, 8 hours of lab sessions and 8 hours of paid direct patient work.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 4,
        "item": {
            "url": "www.excelcna.com/learn/delegation",
            "name": "DSHS Nurse Delegation (CORE) for NAs and HCAs",
            "@id": "www.excelcna.com/learn/delegation",
            "type": "Course",
            "description": "The nurse delegation for IPs for nurse assistants and home care aides introduce you to the nurse delegation law and the caregiver's role in delegation, client care and the body systems, medication administration, and treatments.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 5,
        "item": {
            "url": "www.excelcna.com/learn/diabetes",
            "name": "DSHS Nurse Delegation Special Focus on Diabetes",
            "@id": "www.excelcna.com/learn/diabetes",
            "type": "Course",
            "description": "The nurse delegation with special focus on diabetes introduces nurse assistants and home care aides to the health condition of diabetes and its treatment, insulin.  The caregiver or the aide will learn how to evaluate the client, set up and administer the medication, document the administration, and observe client for side effects.  The course provides the caregiver with resources for managing diabetes.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 6,
        "item": {
            "url": "www.excelcna.com/learn/core",
            "name": "DSHS Core Basic Training",
            "@id": "www.excelcna.com/learn/core",
            "type": "Course",
            "description": "Our enhanced DSHS Core Basic Training covers introduces the learner to the client, the client rights, the duty and role of the caregiver, infection control, blood bourne pathogen, mobility, basic communication, skin and body care, nutrition and food handling, the process of elimination, self-directed care and nurse delegaiton, medications, self care, how to handle grief and loss.  This course has 16 hours of in-person skill lab sessions.  This course is not offered as a stand alone but instead it is offered as part of 75 hours training.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 7,
        "item": {
            "url": "www.excelcna.com/learn/cpr",
            "name": "Heartcode Adult CPR/First Aid/AED Course Skill Testing",
            "@id": "www.excelcna.com/learn/cpr",
            "type": "Course",
            "description": "Heartcode Adult CPR/First Aid/AED course is for long term care workers in community settings such as skilled nursing facility, assisted living homes, senior living, home care agencies and adult family homes.  Our instructors are qualified to teach and certify in both American Red Cross and American Heart Association curricula.  The adult CPR/First Aid/AED covers single rescuer CPR, use of AED and face shield, and first aid and related injuries and conditions.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 8,
        "item": {
            "url": "www.excelcna.com/learn/bls",
            "name": "Heartcode BLS Course Skill Testing",
            "@id": "www.excelcna.com/learn/bls",
            "type": "Course",
            "description": "Heartcode Basic Life Support course is for healthcare providers in hospital, clinical and medical settings.  BLS certification is normally an application requirement for healthcare programs such as RN, LPN, Respiratory Therapy.   Our instructors are qualified to teach and certify in both American Red Cross and American Heart Association curricula.  The BLS course covers single and 2 rescuer CPR, use of bag valve mask and AED and chain of survival.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 9,
        "item": {
            "url": "www.excelcna.com/learn/ceu",
            "name": "DSHS 12 Hours Continuous Education Units",
            "@id": "www.excelcna.com/learn/ceu",
            "type": "Course",
            "description": "As per DSHS requirements, most Long Term Care workers must complete 12 hours of Continuing Education (CE) each year before their birthday.  In some cases, you cannot be paid to provide care until you complete the required CE hours. You will have to complete any remaining CE hours needed (at your own expense) before you can be paid again.  Our continuous education units include navigating challenging behaviors, traumatic brain injury, medication assistance and over 18 hours of RFOC continuous education units.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 10,
        "item": {
            "url": "www.excelcna.com/learn/dementia",
            "name": "DSHS Dementia Specialty Training",
            "@id": "www.excelcna.com/learn/dementia",
            "type": "Course",
            "description": "The DSHS Dementia Specialty Training introduces the learner to different types of Dementia, attendant hallucinations and delusions, how to work with families of a resident suffering from Dementia, sexuality and intimacy, Dementia medications, treatments and therapies, how to provide activities of daily living (ADLs) and how to communicate with people who have Dementia, trauma informed care, how to approach challenging behaviors and tips of dealing with specific challenging behaviors.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 11,
        "item": {
            "url": "www.excelcna.com/learn/mental-health",
            "name": "DSHS Mental Health Specialty Training",
            "@id": "www.excelcna.com/learn/mental-health",
            "type": "Course",
            "description": "The DSHS Mental Health Specialty Training introduces the learner to different types of mental disorders, how to provide compassionate and trauma informed care, the supports for wellness, getting help and self-care, suicide prevention, communication dynamics, setting boundaries, and crisis management.",
            "provider": "Excel Health Careers Training"
        }
    },
    {
        "@type": "ListItem",
        "position": 12,
        "item": {
            "url": "www.excelcna.com/learn/so",
            "name": "DSHS Safety and Orientation Training",
            "@id": "www.excelcna.com/learn/so",
            "type": "Course",
            "description": "The DSHS Safety and Orientation Training course is for long term workers working in adult family home, assisted living home or a home care agency.  It covers client rights and care settings, basic job responsibilities of a long term care worker, good communication, documentation and reporting and mandatory reporting.  Other topics that will be covered include accident prevention, stopping the spread of infection and disease and how to prepare for and handle emergencies.",
            "provider": "Excel Health Careers Training"
        }
    }
    ] 
}
</script>

<section class="p-5 mt-3">
    <div class="container-fluid p-3">     
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-6">
                <h1 class="text-sm-center text-dark font-weight-bold">CNA, DSHS caregiver and CPR/First Aid courses</h1>
                <p class="text-white text-left bg-success font-weight-bold">
                    Course offered include: CNA, HCA/75 hours, HCA to CNA Bridging, CEUs, CPR/First Aid/AED, Mental Health and Demential Specialty, Nurse Delegation and Diabetes, Safety and Orientation.
                </p>    
        <% courses.forEach(course => { %>    
            <div class="card">
            <h4 class="card-header bg-dark text-white"><%= course.name %> course</h4>
            <div class="card-body">
                <h5 class="card-title">Learning Mode: <%=course.mode %></h5>
                <p class="card-text"><strong>Cost: </strong> $ <%=course.cost %>.00</p>
                            
                <p class="card-text"><strong>Requirements: </strong><%= course.requirements%></p>
                
              
                <p class="card-text"><strong>Length: </strong> <%= course.length %> </p>
                <p class="card-text"><strong>School skill labs: </strong> <%= course.labs %> | <strong>Clinical: </strong> <%=course.clinical%></p>
                <p class="card-text"><strong>Description: </strong><%= course.description %></p>          
            
                <% if( course.name ==  "Certified Nurse Assistant/CNA" || course.name == "HCA to CNA Bridging" || course.name == "DSHS Home Care Aide/75 Hours" ) { %>
                    <p class="card-text"><strong>Job Outlook: </strong><%= course.outlook %></p>   
                    <p class="card-text font-weight-bold text-dark bg-warning p-2"><%= course.upsell %></p>                   
                <% } %>      
              
                <a href="<%=course.url%>" class="btn btn-primary"> View upcoming classes </a>
            </div>
            </div> <br>
        <% }) %> 
        </div> 
      </div>    
 
</div>
</section>

