<section class="my-5">
    <div class="container-fluid ">    
        <div class="row justify-content-center p-5 ">           
            <div class="col-sm-12 col-md-8">
                <h1 class="diplay text-primary text-center"> <%= name %> Course Schedules.</h1>  
                <p class="diplay text-danger text-center mr-4">*If you are using a phone, scroll down to see different class times and dates.*</p>                         
            </div>                
        </div>
    </div>  
    <div class="container align-items-center">  
        
        <% if( name == 'CNA'){ %>          
        <div class="container-fluid">            
            <div class="row justify-content-center">                              
                <div class="col-sm-12 col-md-6">
                <h4 class="diplay text-right mr-4">*Click on course dates to sign up.*</h4>                      
                    <div class=" row justify-content-center">
                        <div class="col-12">                        
                            <ul class="list-group list-group-flush">                                
                                <li class="list-group-item list-group-item-primary text-dark"> <strong>DAY CLASS </strong><br> Mon - Fri <br> 3 weeks <br> 9:00 a.m. - 3:00 p.m.</li> 
                                <% course.day_courses.forEach(course => { %>                                    
                                <li class="list-group-item" >
                                    <a href="/train/<%=code%>/<%= course.courseId %>"> <%=course.start_date %> - <%=course.end_date %> <span class="text-danger float-right"> <strong> [+] </strong> </span> </a>
                                </li> 
                                <% }) %>                                 
                            </ul>
                        </div>
                    </div>    
                    <div class="row justify-content-center">                    
                        <div class="col-12">                                      
                            <ul class="list-group list-group-flush">                                
                                <li class="list-group-item list-group-item-primary text-dark"> <strong>EVENING CLASS </strong><br> Mon - Fri <br> 3 weeks <br> 3:00 p.m. - 9:00 p.m.</li>                        
                                <% course.evening_courses.forEach(course => { %>       
                                    <li class="list-group-item" >
                                        <a href="/train/<%=code%>/<%= course.courseId %>"> <%=course.start_date %> - <%=course.end_date %> <span class="text-danger float-right"> <strong> [+] </strong> </span> </a>
                                    </li>
                                <% }) %>                               
                            </ul>
                        </div>                 
                    </div>  
                    <div class="row justify-content-center">
                        <div class="col-12"> 
                            <ul class="list-group list-group-flush justify-content-center">                               
                                <li class="list-group-item list-group-item-primary text-dark"> <strong>WEEKEND CLASS </strong> <br> Sat & Sun <br> 7 weekends <br> 2:00 p.m. - 10:00 p.m.</li>   
                                <% course.weekend_courses.forEach(course => { %>             
                                    <li class="list-group-item" >
                                        <a href="/train/<%=code%>/<%= course.courseId %>"> <%=course.start_date %> - <%=course.end_date %> <span class="text-danger float-right"> <strong> [+] </strong> </span> </a>
                                    </li>
                                <% }) %>                                
                            </ul>
                        </div>                
                    </div>                                      
                </div>  
            </div>                                   
        </div>    
        <% } else if( name == 'DSHS Home Care Aide/75 Hours' || name == "HCA to CNA Bridging" ) { %>             
        <div class="row justify-content-center">           
                <div class="col-sm-12 col-md-4">
                    <h4 class="diplay text-center mr-4">*Click on course dates to sign up.*</h4>                     
                    <div class=" row justify-content-end">                          
                        <div class="col-12">
                            <ul class="list-group list-group-flush justify-content-between">
                                <% if(name == 'DSHS Home Care Aide/75 Hours'){ %>
                                    <li class="list-group-item list-group-item-primary text-dark"> <strong>WEEKDAY CLASS </strong><br> 8 days <br> [Mon, Tue, Wed, Thur] <br> 10:00 a.m. - 5:30 p.m.</li> 
                                <% } else { %>
                                    <li class="list-group-item list-group-item-primary text-dark"> <strong>WEEKDAY CLASS </strong><br> 4 days <br> [Mon, Tue, Wed, Thur] <br> 10:00 a.m. - 5:30 p.m.</li> 
                                <% } %>

                                <% course.day_courses.forEach(course => { %>                      
                                <li  class="list-group-item"  >
                                    <a href="/train/<%=code%>/<%= course.courseId %>"> <%= course.start_date%> - <%= course.end_date%> <span class="text-danger float-right"> <strong> [+] </strong></span> </a>
                                </li>
                                <% }) %>
                            </ul>
                        </div>                       
                    </div>
                  
                    <!-- </div>
            <div class="col-sm-12 col-md-4">  -->
                    <div class=" row justify-content-end">                        
                        <div class="col-12"> 
                            <ul class="list-group list-group-flush justify-content-between">
                                <% if(name == 'DSHS Home Care Aide/75 Hours'){ %>
                                    <li class="list-group-item list-group-item-primary text-dark"> <strong>WEEKEND CLASS </strong><br> 7 days <br> [Fri, Sat, Sun, Mon] <br> 12:00 p.m. - 8:30 p.m.</li> 
                                <% } else { %>
                                    <li class="list-group-item list-group-item-primary text-dark"> <strong>WEEKEND CLASS </strong><br> 4 days <br> [Fri, Sat, Sun, Mon] <br> 12:00 p.m. - 8:30 p.m.</li> 
                                <% } %>
                                <% course.weekend_courses.forEach(course => { %>                    
                                <li  class="list-group-item">
                                    <a href= "/train/<%=code%>/<%= course.courseId %>"><%= course.start_date%> - <%= course.end_date %> <span class="text-danger float-right"> <strong> [+] </strong></span> </a>
                                </li>
                                <% }) %>
                            </ul>
                        </div>                             
                    </div>
                </div> 
            </div>                
        </div>  
        <% } else if 
                    (  name == "DSHS Dementia Specialty" || 
                        name == "DSHS Mental Health Specialty" || 
                        name == "DSHS Safety and Orientation" 
                    )
        { %>
        <div class="row justify-content-center">
            <div class="row">              
                <div class="col-sm-12">
                <h4 class="diplay text-center mr-4">*Click on course dates to sign up.*</h4>                  
                    <ul class="list-group list-group-flush justify-content-between">
                        <li class="list-group-item list-group-item-primary text-dark"> <strong>WEEKDAY/WEEKEND CLASS </strong> <br> 10:00 a.m. - 6:30 p.m.</li>  
                        <% course.day_courses.forEach(course => { %>                       
                        <li  class="list-group-item" >
                            <a href="/train/<%=code%>/<%= course.courseId %>"><%=course.start_date%> <span class="text-danger float-right"> <strong> [+] </strong></span> </a>
                        </li>
                        <% }) %>
                    </ul>
                </div>                   
            </div>                
        </div> 
        <% } else if ( name == "DSHS 12 Hours Continuous Education Units" ){ %>
        <div class="row justify-content-center">
            <div class="row">              
                <div class="col-sm-12 ">
                <h4 class="diplay text-center mr-4">*Click on course dates to sign up.*</h4>                  
                    <ul class="list-group list-group-flush justify-content-between">
                        <li class="list-group-item list-group-item-primary text-dark"> <strong>WEEKDAY CLASS </strong><br> Wed/Thur <br> 10:00 a.m. - 6:30 p.m.</li>  
                        <% course.day_courses.forEach(course => { %>                       
                        <li class="list-group-item" >
                            <a href="/train/<%=code%>/<%= course.courseId %>"><%= course.start_date %> - <%= course.end_date %> <span class="text-danger float-right"> <strong> [+] </strong></span> </a>
                        </li>
                        <% }) %>

                        <li class="list-group-item list-group-item-primary text-dark"> <strong>WEEKEND CLASS </strong><br> Sat/Sun <br> 12:00 p.m. - 6:30 p.m.</li>  
                        <% course.weekend_courses.forEach(course => { %>                       
                        <li class="list-group-item" >
                            <a href="/train/<%=code%>/<%= course.courseId %>"><%= course.start_date%> - <%= course.end_date %> <span class="text-danger float-right"> <strong> [+] </strong></span> </a>
                        </li>
                        <% }) %>
                    </ul>
                </div>                   
            </div>                
        </div>  
        <% } else if (
                        name == "DSHS Nurse Delegation Special Focus on Diabetes" || 
                        name == "DSHS Nurse Delegation (CORE) for NAs and HCAs"
                    ) 
        { %> 
        <div class="container-fluid">
            <div class="row justify-content-center">              
                <div class="col-sm-12 col-md-4">
                   
                <p class="diplay text-left bg-warning">Our nurse delegation/diabetes are self-study.  Priority is given to students who sign up to reserve study materials.</p>                  
                    <ul class="list-group list-group-flush justify-content-between">
                        <li class="list-group-item list-group-item-primary text-dark"> <strong>WEEKDAY/WEEKEND CLASS </strong> <br> 30 minutes</li>                                             
                        <li  class="list-group-item" >
                            <a href="/train/<%=code%>/<%= course_id %>"> Sign Up <span class="text-danger float-right"> <strong> [+] </strong></span> </a>
                        </li>
                     
                    </ul>
                </div>                   
            </div>                
        </div>   

        <% } else { %>  
            <div class="container-fluid">
                <div class="row justify-content-center">              
                    <div class="col-sm-12 col-md-4">
                        
                    <p class="diplay text-left">*Sign up to reserve date and time to complete your CPR/FA or BLS skill testing.  Priority is given to students who sign up to reserve study materials.</p>                  
                        <ul class="list-group list-group-flush justify-content-between">
                            <li class="list-group-item list-group-item-primary text-dark"> <strong>WEEKDAY/WEEKEND CLASS </strong> <br> 30 minutes</li>                                             
                            <li  class="list-group-item" >
                                <a href="/train/<%=code%>/<%= course_id %>"> Sign Up <span class="text-danger float-right"> <strong> [+] </strong></span> </a>
                            </li>
                         
                        </ul>
                    </div>                   
                </div>                
            </div> 
        <% } %>              
    </div> 
</section>      

<script type="application/javascript">

    $(document).ready(() => {

        const course_name = (<%-JSON.stringify(name)%>)

        const eventAction = 'View Lead '+course_name+' Course Schedules'

        gtag('event', eventAction, {
            'event_category': eventAction,
            'event_label': 'Prospective Student',
            'value': 1
        })
    })

</script>

<style scoped>
    .course-info  {
        white-space: pre-wrap;
    } 
</style>

