<template>
    <section class="bg-light m-4 p-4">
        <div class="container-fluid m-4 p-4">
           
            <div class="row justify-content-center p-3">
                <div class="col-md-6 col-sm-8"></div>
                <div class="card">
                    <div class="card-header bg-success">
                            <h3 class="text-black"><%=jobPost.name%></h3>
                        </div>
                    <div class="card-body">                    
                        <h4 class="card-title py-3"><strong><%=jobPost.title%></strong></h4>
                        <h5><strong>Location:</strong> <%=jobPost.location%> </h5>
                        <h5><strong>Contact:</strong> <%=jobPost.contact%></h5>
                        <h5 class="card-text"><strong>Schedule: </strong><%=jobPost.schedule%></h5>                            
                        <!-- <p class="card-text">  </p>  -->
                        <hr>
                        
                        <h5>Requirements</h5>    
                        <p class="card-text"><%=jobPost.requirements%></p>
                        <h5>Description</h5>
                        <p class="card-text"><%=jobPost.description%></p>    
                      
                        <h5 class="card-subtitle"><strong>Compensation </strong></h5>                            
                        <p class="card-text"> <%=jobPost.compensation %> </p>  
                                           
                        <hr>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg float-right" @click="showModal">
                            <strong>APPLY HERE!</strong>
                        </button><br><br>                                          
                    </div>
                </div>                
            </div>
        </div>
        </div>        
    </section>    
</template>
<script>

import applyJob from "./ApplyJob.vue"
import { mapGetters } from 'vuex'
import { store } from "../../store/store"

export default {

    computed:{
        ...mapGetters([
            "jobPost"
        ])
    },    

    components: {
        applyJob
    },


    data(){
        return{
           
            url: 'https://www.excelcna.com/view/'+this.$route.params.id,
           
        }
    },

    methods: {
        showModal(){

            this.$ga.event({
                eventCategory: 'Engagement',
                eventAction: `View Job`,
                eventLabel: `Job seeker`,
                eventValue: 1
            })
            debugger
            let element = this.$refs.modal.$el
            $(element).modal('show')
        }       
    },  
   
    beforeRouteEnter(to, from, next){        
        next(vm=>{
            debugger
            vm.$store.dispatch("getPostById", vm.$route.params.id)
        })
    }
    
}
</script>

<style scoped>
.card-text {
    white-space: pre-wrap;
}
</style>